<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> 

    <title>Object Recognition App</title>
 	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="index.html">Object Recognition App</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Home</a>
	      </li>
	      <li class="nav-item active"><span class="sr-only">(current)</span>
	        <a class="nav-link" href="#">App</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		<style type="text/css">
		.spinner {
		  display: inline-block;
		  opacity: 0;
		  max-width: 0;
		  -webkit-transition: opacity 0.25s, max-width 0.45s;
		  -moz-transition: opacity 0.25s, max-width 0.45s;
		  -o-transition: opacity 0.25s, max-width 0.45s;
		  transition: opacity 0.25s, max-width 0.45s;
		  /* Duration fixed since we animate additional hidden width */
		}

		.has-spinner.active {
		  cursor: progress;
		}

		.has-spinner.active .spinner {
		  opacity: 1;
		  max-width: 50px;
		  /* More than it will ever come, notice that this affects on animation duration */
		}
			
		</style>
  </head>

  <body>
    <div class="container">

      <div>
        <h2 class="page-header">Upload an image of the object and click on get prediction..</h2>
        <h4>The models can make predictions on the 10 classes in CIFAR-10 dataset..</h4>
        <div class="modal-body row">
	        <div class="col-md-8">
        		<p class="lead">Select a PNG or JPEG image, having maximum size <span id="max-size"></span> KB.</p>
		        <form id="upload-image-form" action="" method="post" enctype="multipart/form-data">
		          <div id="image-preview-div" style="display: none">
		            <label for="exampleInputFile">Selected image:</label>
		            <br>
		            <img id="preview-img" src="noimage">
		          </div>
		          <div class="form-group">
		            <input type="file" name="file" id="file" required>
		          </div>
		          <button class="btn btn-primary has-spinner" id="upload-button" type="submit" disabled><span class="spinner"><i class="fa fa-cog fa-spin"></i></span> Get Predictions</button>
		        </form>
	        </div>
	        <div id="message" class="col-md-4 mt-5"></div>
	    </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>    
    <script src="{{ url_for('static', filename='upload-image.js') }}"></script>
  </body>
</html>